@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Radio+Canada:ital,wght@0,300..700;1,300..700&display=swap");

.font-outline-1 {
  -webkit-text-stroke: 1px var(--themePrimary);
}

:root {
  --background-color: #ffffff;
  --textColor: #000000;
  --themePrimary: #002D46;
  --themeSecondary: #7d1942;
  --themeAccent: #4a5568;
  --themeBackground: #fdfdff;
  --themeHoverBackground: #fdfdff;
  --themePrimaryIcon: #002D46;
  --themeSecGradientHeader: #002D46;
  --themePrimGradientHeader: linear-gradient(to right, #fdfdff, #002D46);
}

/* Dark Mode */
html[data-theme="dark"] {
  --background-color: #000000;
  --textColor: #ffffff;
  --themePrimary: #ffffff;
  --themeSecondary: #7d1942;
  --themeAccent: #fdfdff;
  --themeBackground: #000000;
  --themeHoverBackground: #021526;
  --themePrimaryIcon: #4f8aaa;
  --themeSecGradientHeader: #7d1942;
  --themePrimGradientHeader: linear-gradient(to right, #fdfdff, #185678);
}

body {
  background-color: var(--background-color);
  color: var(--textColor);
}

html {
  transition: background-color 0.3s ease, color 0.3s ease;
}

.poppins-thin {
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.poppins-extralight {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: normal;
}

.poppins-light {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.poppins-regular {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.poppins-medium {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.poppins-semibold {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.poppins-bold {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.poppins-extrabold {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-style: normal;
}

.poppins-black {
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.poppins-thin-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-style: italic;
}

.poppins-extralight-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: italic;
}

.poppins-light-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.poppins-regular-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.poppins-medium-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: italic;
}

.poppins-semibold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: italic;
}

.poppins-bold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.poppins-extrabold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-style: italic;
}

.poppins-black-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-style: italic;
}

.radio-canada-normal {
  font-family: "Radio Canada", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}
@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
